<div class="row justify-space-between-md">
    <div class="login-card">
        <h2 class="page-title">Create Post</h2>
        <form class="form post-form">
            <div class="form-group">
                <label for="post-title">Title:</label>
                <input class="form-input" type="text" id="post-title" />
            </div>
            <div class="form-group">
                <label for="post-text">Text:</label>
                <input class="form-input" type="text" id="post-text" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/new-post.js"></script>